{% extends "layout.html" %}

{% block content %}
<div class="load-file form container">
  <h3>Upload your file:</h3>
  <form class="" action="/load" method="post" enctype="multipart/form-data">
    <input type="file" name="datafile">
    <button type="submit" name="submit">Submit</button>
  </form>
</div>

{% if show_form %}
<div class="container">
  <h3>Sample of your data</h3>
  {{table}}
</div>
<div class="container">
  <h3>Choose data column:</h3>
  <form class="" action="/plot" method="post">
    <input type="hidden" name="filename" value="{{filename}}">
    <select name="column">
      {% for col in columns %}
      <option value="{{col}}">{{col}}</option>
      {% endfor %}
    </select>
    <button type="submit" name="calculate">Calculate</button>
  </form>
  {% if error %}
  <h3>{{error}}</h3>
  {% endif %}
</div>
{% endif %}

{% if result %}
<div class="container" id="result">
  <div class="container" id="result">
    <h2>Series <span class='bold'>{{col}}</span> in your dataset {{verdict}} to Benford's law.</h2>
    <h3>Morrow's <em>d</em><sub>N</sub> statistic = {{result}}; criterion for non-conformity at <em>p</em> = 0.05:
      <em>d</em><sub>N</sub>
      > 1.330 (<a href="http://eprints.lse.ac.uk/60364/1/dp1291.pdf" target="_blank">source</a>)
    </h3>
    <div class="plot">
      {{figure}}
    </div>
  </div>
  <div class="container">
    <form class="" action="/commit" method="post">
      <h3>{{instruction}}</h3>
      <input type="hidden" name="column" value="{{col}}">
      <input type="hidden" name="filename" value="{{filename}}">
      <button type="submit" name="commit">Commit</button>
    </form>
  </div>
  <script type="text/javascript">
    document.getElementById("result").scrollIntoView()
  </script>
</div>
{% endif %}

{% endblock %}
